#map {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-control-attribution {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.leaflet-interactive {
    cursor: pointer;
}

@media (max-width: 768px) {
    #map {
        height: 80vh;
    }
}
