#map {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.leaflet-control-attribution {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.leaflet-interactive {
    cursor: pointer;
}

@media (max-width: 768px) {
    #map {
        height: 80vh;
    }
}

.no-scroll {
    overflow: hidden;
}

.search-form {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 10px;
    width: 400px;
}

.search-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.clear-button {
    padding: 5px 10px;
    border: none;
    background-color: #ff003b;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: rgb(162, 0, 39);
}

.zoom-button {
    padding: 0px;
    border: none;
    background-color: #ffffff;
    color: white;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
}

.overlay-announce {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1000;
    pointer-events: none;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc(100vh - 63px);
    height: 100%;
    width: 30%;
    overflow: auto;
    pointer-events: auto;
}

.overlay-district {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

.overlay-district-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc(100vh - 63px);
    height: 50%;
    width: 25%;
    overflow: auto;
    pointer-events: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.announce-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.announce-table th, .announce-table td {
    border: 1px solid rgba(168, 168, 168, 0.87);
    padding: 8px;
}

.announce-table th {
    background-color: #c2c2c2;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    margin: 0 5px;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

.search-form-container {
    width: 100%;
}

.tag-selector {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 50%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    pointer-events: auto;
}

.tag-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.tag-item:last-child {
    border-bottom: none;
}

.toggle-button {
    padding: 5px 10px;
    border: none;
    background-color: #757575;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #484848;
}