.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc(100vh - 63px);
    height: 100%;
    width: 30%;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.announce-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.announce-table th, .announce-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.announce-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    margin: 0 5px;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}