/* proto-front/src/styles/Overlay.css */
.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60px; /* Adjust this value based on your navbar height */
    background-color: transparent; /* Remove the background color */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-end; /* Align content to the bottom */
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: calc(100vh - 63px); /* Adjust this value based on your navbar height */
    overflow-y: auto; /* Make the content scrollable */
    width: 30%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.announce-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.announce-table th, .announce-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.announce-table th {
    background-color: #f2f2f2;
    text-align: left;
}