defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend kafka_front
    bind *:9092
    default_backend kafka_back

backend kafka_back
    balance roundrobin
    # On utilise les noms de services définis dans le docker-compose
    server kafka1 notif-kafka1:9092 check
    server kafka2 notif-kafka2:9092 check
    server kafka3 notif-kafka3:9092 check
